.calico_cat_picture {
    width: 800px;
    height: 600px;
    }

.button {
    font-size: 24px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 8px; 
}

.green:hover {
    background-color: rgb(5, 68, 5);
}

.blue:hover {
    background-color: rgb(21, 13, 75);
}

.red:hover {
    background-color:  firebrick;
}

.green {
    background-color: darkgreen;
}

.blue {
    background-color: darkslateblue;
}

.red {
    background-color: crimson;
}

.spaced {
    margin-left: 50px;
}

.button:active {
    background-color: paleturquoise;
}